[Desktop Entry]
Version=1.0
Type=Application
Name=RubyMine {{ rubymine_version }}
Icon={{ rubymine_location}}/bin/RMlogo.svg
Exec="{{ rubymine_location }}/bin/rubymine.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rubymine
